<div data-ng-controller="studentCtrl">
    <div>
        <a href="javascript:void(0)" data-ng-click="showNewEntry=true">Add New Student</a>
    </div>
    <div data-ng-show="showNewEntry">
        <form name="newStudentForm" ng-submit="save()">
            <div> 
                Student Name
                <input type="text" name="Name" data-ng-model="newStudent.Name" required ng-minlength="5" />                
                <span data-ng-show="newStudentForm.Name.$error.required" style="color:red">Please enter a name</span>
                <span data-ng-show="newStudentForm.Name.$error.minlength" style="color:red">Please enter a minimum 5 characters</span>
            </div>
            <div> 
                Address
                <input type="text" name="Address" data-ng-model="newStudent.Address" required/>
                <span data-ng-show="newStudentForm.Address.$error.required" style="color:red">Please enter a address</span>
            </div>

            <div> 
                Phone No.
                <input type="text" name="Phone" data-ng-model="newStudent.Phone" required/>
                <span data-ng-show="newStudentForm.Phone.$error.required" style="color:red">Please enter a Phone</span>
            </div>
            <div> 
                Email.
                <input type="text" name="Email" data-ng-model="newStudent.Email" required/>
                <span data-ng-show="newStudentForm.Email.$error.required" style="color:red">Please enter a Email:</span>
            </div>
               <div> 
             Session
                <input type="text" name="Session" data-ng-model="newStudent.Session" required/>
                <span data-ng-show="newStudentForm.Session.$error.required" style="color:red">Please enter a Session</span>
            </div>

             <div>
                 Depart ID
                <!--<input name="depatId"id="depatId" type="text" data-ng-model="newCourse.DepID" />-->
                <select data-ng-model="newStudent.DepartmentId" >
                    <option ng-repeat="dept in depService.departments" value="{{dept.Id}}">{{dept.Name}}</option>
                </select>
                 
                  </div>
           

            <div>
                <!--<input type="text" class="form-control" datepicker-popup="MM-dd-yyyy" ng-mdel="myDate" is-open="opened" max-date="'2015-06-22'" close-text="Close" />-->

                
        Birth Date
        <span style="color:red" ng-show=".Birthdate.$error.pattern">(1 Jan 2013)</span>
   
    <input
        type="date"
        id="test"
        name="Birthdate"
        data-ng-model="newStudent.BirthDate"
        popup="dd MM yyyy"
        options="dateOptions"
        opened="opened"
        custom-datepicker/>

            </div>

            <div> 
                <input type="submit" />
                <button ng-click="showNewEntry=false">Cancel</button>
            </div>
        </form>
    </div>
    <div>
<!--        <input type="text" data-ng-model="search.Name" placeholder="Search...." />-->
        <input type="text" data-ng-model="search.Name" placeholder="Search...." />
    </div>
    <div>
        <table>
          <tr>
          <th><a href="" ng-click="reverse=false;order('Name', false)">Name</a>
            (<a href="" ng-click="order('-Name',false)">^</a>)</th>
          <th><a href="" ng-click="reverse=!reverse;order('Address', reverse)">Address</a></th>
      
    
        </tr>

            <tr data-ng-repeat="std in stdService.students | filter:search |orderBy:'Address':true">
                <td><a href="javascript:void(0)" data-ng-click="setForUpdate(std)">Edit</a></td>
                <td><a href="javascript:void(0)" data-ng-click="delete(std)">Delete</a></td>
                <td>{{std.Id}}</td>
                <td>{{std.Name | uppercase}}</td>
                <td>{{std.Address}}</td>
                <td>{{std.BirthDate | date:'MM/dd/yyyy'}}</td> 
                <td>{{std.Phone}}</td>
                <td>{{std.Email}}</td>
                 <td>{{std.Session}}</td>
                               
            </tr>
        </table>
    </div>
    <div>
        <button data-ng-click="MySearch()"> My Search</button>
    </div>
    <div>
        <table>
        <!-- <tr>
    Order in HTML   <th><a href="" ng-click="predicate = 'Name'; reverse=false">Name</a>
          (<a href="" ng-click="predicate = '-Name'; reverse=false">^</a>)</th>
      <th><a href="" ng-click="predicate = 'Address'; reverse=!reverse">address</a></th
     
    </tr>-->
            <!--  Order In HTML<tr data-ng-repeat="std in myResult | orderBy:predicate:reverse"">-->


  




                <tr data-ng-repeat="std in myResult ">

                <td><a href="javascript:void(0)" data-ng-click="setForUpdate(std)">Edit</a></td>
                <td><a href="javascript:void(0)" data-ng-click="delete(std)">Delete</a></td>
                <td>{{std.Id}}</td>
                <td>{{std.Name}}</td>
                <td>{{std.Address}}</td>
                <td>{{std.BirthDate | date:'MM/dd/yyyy'}}</td>                
            </tr>
        </table>
    </div>
</div>